/*-------------------------
     Common Styles
-------------------------- */
body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    margin: 0%;
}

/*--------------------------
         Players Styles
--------------------------- */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
    padding: 70px 100px 160px 100px;
}

.player {
    width: 332px;
    height: 476px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}

.player-thumbnail {
    overflow: hidden;
    margin: 12px 12px 22px 12px;
}

.player img {
    width: 300px;
    height: 256px;
    margin-top: 15px;
}

.player-name {
    margin-top: 0;
    margin-bottom: 0%;
}

.player-detail {
    width: 300px;
    height: 104px;
    color: #6C6C6C;
    font-size: 16px;
    margin-bottom: 0%;
}

/*--------------
    Transitions
--------------- */

.player:hover .player-thumbnail img {
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
}

/*---------------------
      Media Queries
----------------------- */
@media only screen and (max-width:768px) {
    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}