/*-------------------------
     Common Styles
-------------------------- */
body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    margin: 0%;
}

/*--------------------------
         Players Styles
--------------------------- */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
    padding: 70px 100px 165px 100px;
}

.player {
    width: 330px;
    height: 447px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}

.player-thumbnail {
    overflow: hidden;
    margin: 12px 12px 22px 12px;
}

.player img {
    width: 300px;
    height: 256px;
    margin-top: 15px;
}

.player-name {
    margin-top: 0;
    margin-bottom: 0%;
}

.player-detail {
    width: 300px;
    height: 104px;
    color: #6C6C6C;
    font-size: 16px;
    margin-bottom: 0%;
}

/*-------------------------------
        Highlites styles
-------------------------------- */
.highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
}

.highlight-detail {
    width: 466px;
    height: 309px;
}

h1 {
    font-size: 48px;
    margin: 0%;
}

.highlight-description {
    margin-top: 0%;
}

.live {
    color: white;
    background-color: #E02C6D;
    border-radius: 25px;
}


.live2>a {
    text-decoration: none;
    color: white;
}

.highlight-image img {
    width: 567px;
    height: 427px;
}

/*--------------
    Transitions
--------------- */

.player:hover .player-thumbnail img {
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
}

/*---------------------
      Media Queries
----------------------- */
@media only screen and (max-width:768px) {
    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 10%;
    }

    .highlight {
        width: 100%;
        height: 35%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .highlight-detail {
        width: 80%;
        height: 50%;
        padding: 10%;
    }

    .highlight-description {
        text-align: justify;
    }

    h1 {
        font-size: 30px;
    }

    .highlight-image img {
        width: 80%;
        height: 50%;
        padding: 10%;
    }
}